.fixed-top-spacing {
    margin-top: 54px;
}

/*
 * Buttons
 */
.btn-discord {
    border-color: #7289DA;
}
.btn-bitbucket {
    border-color: #7289DA;
}

/*
 * Team Members
 */
.team-container {
    padding: 5em;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5) inset;

    background: url('../img/team.png');
    background-position: center;
}
.team-offset {
    margin-left: 12.5%;
}

/*
 * Team Member head
 */
.team-member {
    position: relative;
    overflow: hidden;
    width: 100%;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.team-member > img {
    width: 100%;
}

.team-member > .overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: black;
    opacity: 0;
    transition: opacity 250ms;
}
.team-member:hover > .overlay {
    opacity: 0.5;
    transition: opacity 250ms;
}

.team-member > .info {
    position: absolute;
    left: 0.75em;
    bottom: -2em;
    opacity: 0;

    transition: bottom 250ms, opacity 250ms;
}
.team-member:hover > .info {
    transition: bottom 500ms, opacity 500ms;
    bottom: 0.5em;
    opacity: 1;
}

.team-member > .info > span {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.team-head {
    width: 100%;
}

/*
 *
 */

 /*----------------------------------------------------*/
/*----------------- Testimonials CSS -----------------*/
/*----------------------------------------------------*/
.testimonial{
    margin-bottom: 10px;
}

    .testimonial-section {
        width: 100%;
        height: auto;
        padding: 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        position: relative;
        border: 1px solid #fff;
    }
    .testimonial-section:after {
        top: 100%;
        left: 50px;
        border: solid transparent;
        content: " ";
        position: absolute;
        border-top-color: #fff;
        border-width: 15px;
        margin-left: -15px;
    }

    .testimonial-desc {
        margin-top: 20px;
        text-align:left;
        padding-left: 15px;
    }
        .testimonial-desc img {
            border: 1px solid #f5f5f5;
            border-radius: 150px;
            height: 70px;
            padding: 3px;
            width: 70px;
            display:inline-block;
            vertical-align: top;
        }

        .testimonial-writer{
            display: inline-block;
            vertical-align: top;
            padding-left: 10px;
        }

            .testimonial-writer-name{
                font-weight: bold;
            }

            .testimonial-writer-designation{
                font-size: 85%;
            }

            .testimonial-writer-company{
                font-size: 85%;
            }
    /*---- Outlined Styles ----*/
    .testimonial.testimonial-default{

    }
        .testimonial.testimonial-default .testimonial-section{
            border-color: #777;
        }

            .testimonial.testimonial-default .testimonial-section:after{
                border-top-color: #777;
            }

        .testimonial.testimonial-default .testimonial-desc{

        }

            .testimonial.testimonial-default .testimonial-desc img{
                border-color: #777;
            }

            .testimonial.testimonial-default .testimonial-writer-name{
                color: #777;
            }

    .testimonial.testimonial-primary{

    }
        .testimonial.testimonial-primary .testimonial-section{
            border-color: #337AB7;
            color: #286090;
            background-color: rgba(51, 122, 183, 0.1);
        }

            .testimonial.testimonial-primary .testimonial-section:after{
                border-top-color: #337AB7;
            }

        .testimonial.testimonial-primary .testimonial-desc{

        }

            .testimonial.testimonial-primary .testimonial-desc img{
                border-color: #337AB7;
            }

            .testimonial.testimonial-primary .testimonial-writer-name{
                color: #337AB7;
            }

    .testimonial.testimonial-info{

    }
        .testimonial.testimonial-info .testimonial-section{
            border-color: #5BC0DE;
            color: #31b0d5;
            background-color: rgba(91, 192, 222, 0.1);
        }

            .testimonial.testimonial-info .testimonial-section:after{
                border-top-color: #5BC0DE;
            }

        .testimonial.testimonial-info .testimonial-desc{

        }

            .testimonial.testimonial-info .testimonial-desc img{
                border-color: #5BC0DE;
            }

            .testimonial.testimonial-info .testimonial-writer-name{
                color: #5BC0DE;
            }


    .testimonial.testimonial-success{

    }
        .testimonial.testimonial-success .testimonial-section{
            border-color: #5CB85C;
            color: #449d44;
            background-color: rgba(92, 184, 92, 0.1);
        }

            .testimonial.testimonial-success .testimonial-section:after{
                border-top-color: #5CB85C;
            }

        .testimonial.testimonial-success .testimonial-desc{

        }

            .testimonial.testimonial-success .testimonial-desc img{
                border-color: #5CB85C;
            }

            .testimonial.testimonial-success .testimonial-writer-name{
                color: #5CB85C;
            }

    .testimonial.testimonial-warning{

    }
        .testimonial.testimonial-warning .testimonial-section{
            border-color: #F0AD4E;
            color: #d58512;
            background-color: rgba(240, 173, 78, 0.1);
        }

            .testimonial.testimonial-warning .testimonial-section:after{
                border-top-color: #F0AD4E;
            }

        .testimonial.testimonial-warning .testimonial-desc{

        }

            .testimonial.testimonial-warning .testimonial-desc img{
                border-color: #F0AD4E;
            }

            .testimonial.testimonial-warning .testimonial-writer-name{
                color: #F0AD4E;
            }

    .testimonial.testimonial-danger{

    }
        .testimonial.testimonial-danger .testimonial-section{
            border-color: #D9534F;
            color: #c9302c;
            background-color: rgba(217, 83, 79, 0.1);
        }

            .testimonial.testimonial-danger .testimonial-section:after{
                border-top-color: #D9534F;
            }

        .testimonial.testimonial-danger .testimonial-desc{

        }

            .testimonial.testimonial-danger .testimonial-desc img{
                border-color: #D9534F;
            }

            .testimonial.testimonial-danger .testimonial-writer-name{
                color: #D9534F;
            }


            /*Remove that CSS*/
            .col-md-3 {
                margin-left:5%;
                }
            /*Remove that CSS*/



            button {
              margin: 20px 0;
              line-height: 34px;
              position: relative;
              cursor: pointer;
              user-select: none;
              outline:none !important;
              width:100%;
            }

            button:active {

              outline:none;
            }

            button.ribbon {

              outline:none;
              outline-color: transparent;
            }
            button.ribbon:before, button.ribbon:after {
              top: 5px;
              z-index: -10;
            }
            button.ribbon:before {
              border-color: #53dab6 #53dab6 #53dab6 transparent;
              left: -25px;
              border-width: 17px;
            }
            button.ribbon:after {
              border-color: #53dab6 transparent #53dab6 #53dab6;
              right: -25px;
              border-width: 17px;
            }

            button:before, button:after {
              content: '';
              position: absolute;
              height: 0;
              width: 0;
              border-style: solid;
              border-width: 0;
              outline:none;
            }

            button.btn-default:before {
              border-color: #757575 #757575 #757575 transparent;
                }
                button.btn-default:after {
              border-color: #757575 transparent #757575 #757575;
                }



                button.btn-primary:before {
              border-color: #2e6da4 #2e6da4 #2e6da4 transparent;
                }
                button.btn-primary:after {
              border-color: #2e6da4 transparent #2e6da4 #2e6da4;
                }


                button.btn-success:before {
              border-color: #398439 #398439 #398439 transparent;
                }
                button.btn-success:after {
              border-color: #398439 transparent #398439 #398439;
                }


                button.btn-info:before {
              border-color: #269abc #269abc #269abc transparent;
                }
                button.btn-info:after {
              border-color: #269abc transparent #269abc #269abc;
                }


                button.btn-warning:before {
              border-color: #d58512 #d58512 #d58512 transparent;
                }
                button.btn-warning:after {
              border-color: #d58512 transparent #d58512 #d58512;
                }


                button.btn-danger:before {
              border-color: #ac2925 #ac2925 #ac2925 transparent;
                }
                button.btn-danger:after {
              border-color: #ac2925 transparent #ac2925 #ac2925;
                }
